<div id="survivor-overview" class="content-section">
    #dotParse("/inprs/survivors/contentWidgets/survivorOverview.vtl")
</div>

<div id="survivor-perf-hybrid" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorPerfHybrid.vtl")
</div>

<div id="survivor-perf-mychoice" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorPerfMyChoice.vtl")
</div>

<div id="survivor-trf-hybrid" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorTrfHybrid.vtl")
</div>

<div id="survivor-trf-mychoice" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorTrfMyChoice.vtl")
</div>

<div id="survivor-77" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivor77.vtl")
</div>

<div id="survivor-jrs" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorjrs.vtl")
</div>

<div id="survivor-egc" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivoregc.vtl")
</div>

<div id="survivor-parf" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorparf.vtl")
</div>

<div id="survivor-ledb" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorledb.vtl")
</div>

<div id="survivor-ledc" class="content-section hidden">
    #dotParse("/inprs/survivors/contentWidgets/survivorledc.vtl")
</div>