<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Our Styling -->
        <link rel="stylesheet" href="../../styles/styles.css">

        <!-- Phosphor Icons -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/duotone/style.css"/>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- LARGE FEEDBACK / ALERT -->
            <div class="feedback-info">
                <i class="ph ph-info size24"></i>
                    <div>
                        <p class="headingS">Notification Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
            </div>

            <div class="feedback-success">
                <i class="ph ph-check-circle size24"></i>
                    <div>
                        <p class="headingS">Notification Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
            </div>

            <div class="feedback-warning">
                <i class="ph ph-warning size24"></i>
                    <div>
                        <p class="headingS">Notification Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
            </div>

            <div class="feedback-danger">
                <i class="ph ph-warning-circle size24"></i>
                    <div>
                        <p class="headingS">Notification Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
            </div>

            <div class="feedback-notif">
                <i class="ph ph-bell-ringing size24"></i>
                    <div>
                        <p class="headingS">Notification Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
            </div>

        <!-- MED FEEDBACK / ALERT -->
            <div class="feedback-info-med">
                <i class="ph ph-book-open"></i>
                <p class="labelM">Consult your member handbook</p>
            </div>

            <div class="feedback-warning-med">
                <i class="ph ph-warning"></i>
                <p class="labelM">Please note that the breakdown of the rate can change each year.</p>
            </div>

        <!-- SMALL FEEDBACK -->
            <div class="feedback-info-sm">
                <i class="ph ph-info size16"></i>
                <p class="bodyS">Notification Message</p>
                <i class="ph ph-x size16" style="align-items: right;"></i>
            </div>

            <div class="feedback-success-sm">
                <i class="ph ph-check-circle size16"></i>
                <p class="bodyS">Notification Message</p>
                <i class="ph ph-x size16" style="align-items: right;"></i>
            </div>

            <div class="feedback-warning-sm">
                <i class="ph ph-warning size16"></i>
                <p class="bodyS">Notification Message</p>
                <i class="ph ph-x size16" style="align-items: right;"></i>
            </div>

            <div class="feedback-danger-sm">
                <i class="ph ph-warning-circle size16"></i>
                <p class="bodyS">Notification Message</p>
                <i class="ph ph-x size16" style="align-items: right;"></i>
            </div>

            <div class="feedback-notif-sm">
                <i class="ph ph-bell-ringing size16"></i>
                <p class="bodyS">Notification Message</p>
                <i class="ph ph-x size16" style="align-items: right;"></i>
            </div>

       
        <script src="../sidenavigation.js" async defer></script>

    </body>
    
</html>