## perfContentContainerTest.vtl
## Location: vtl/content/members/perf/perfContentContainerTest.vtl

<div class="col-8">

    <div id="perf-overview" class="content-section">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfOverviewTest.vtl")
    </div>

    <div id="perf-emp-cycle-new" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfEmpCycleNew.vtl")
    </div>

    <div id="perf-emp-cycle-change" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfEmpCycleChange.vtl")
    </div>

    <div id="perf-life-info" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfLifeInfo.vtl")
    </div>

    <div id="perf-life-leave" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfLifeLeave.vtl")
    </div>

    <div id="perf-life-report" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfLifeReport.vtl")
    </div>

    <div id="perf-life-survivor" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfLifeSurvivor.vtl")
    </div>

    <div id="perf-transition-eligibility" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfTransitionEligibility.vtl")
    </div>

    <div id="perf-transition-process" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfTransitionProcess.vtl")
    </div>

    <div id="perf-transition-return" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/pages/members/perf/contentWidgets/perfTransitionReturn.vtl")
    </div>

</div>