#dotParse("/inprs-sandbox/files/_includes.vtl")

#renderDarkPageHeader(
"Home > About Us",
"About INPRS",
"With approximately $46.7 billion in assets under management at fiscal year-end 2023, the Indiana Public Retirement System (INPRS) is among the largest 100 pension funds in the United States. We work to serve the needs of approximately 529,244 members representing 1,318 employers including public universities, school corporations, municipalities, and state agencies.",
"/dA/b84d08f171/asset/NewsTriangleHeader.png"
)
