/* FILE CARD ------------------------------------- */
.fileCard {
    display: flex;
    width: var(--Columns-6, 13.5rem);
    min-width: 9.75rem;
    max-width: 20.75rem;
    padding: var(--Space-XS, 0.5rem);
    align-items: center;
    align-content: center;
    gap: 0.5rem var(--Space-XS, 0.5rem);
    flex-wrap: wrap;

    cursor: pointer;
    border-radius: .5rem;
    background-color: var(--bg-brand-blue);
    color: var(--text-display);
}

.fileCard:hover {
    background-color: var(--bg-brand-blue-hover);
}

.fileCard:active {
    background-color: var(--bg-brand-blue-active);
}