<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Our Styling -->
        <link rel="stylesheet" href="../../styles/styles.css">

        <!-- Phosphor Icons -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
                <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/duotone/style.css"/>


        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <a href="" class="cardArticle">
            <div class="thumbnail_cover">
                <img src="../images/INem-crop.png" class="thumbnail_img" alt="" />
            </div>
            <div class="cardContent">
                <span style="color:var(--text-label)"><p class="labelS">Category</p></span>
                <p class="headingS">Article Title Here</p>
            </div>
            <div class="readMore">
                <span style="padding: 0 0 1rem 1rem" class="button-link labelS">
                    Read More <i class="ph ph-caret-double-right"></i>
                </span>
            </div>
        </a>
        
        <script src="../components.js" async defer></script>

    </body>
    
</html>