<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Our Styling -->
        <link rel="stylesheet" href="../../styles/styles.css">

        <!-- Phosphor Icons -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <!-- INFO CARD SMALL ---------------------------------------------------------- -->
        <div class="info-card-small">
            <p class="headingS">Card Title</p>
            <p class="bodyS">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
            <!-- placeholder content/buttons go here -->
        </div>

        <!-- INFO CARD LARGE ---------------------------------------------------------- -->
        <div class="info-card-large">
            <p class="headingM">Card Title</p>
            <p class="bodyM">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
            <!-- placeholder content/buttons go here -->
        </div>
    

        <!-- INFO CARD SMALL V2---------------------------------------------------------- -->
        <div class="info-card-small">
            <i class="ph ph-check size32"></i>
            <p class="headingS"><span style="color:var(--text-brand-blue)">Card Title</span></p>
            <p class="bodyS">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
        </div>
        
        <!-- INFO CARD LARGE V2---------------------------------------------------------- -->
        <div class="info-card-large">
            <i class="ph ph-check size32"></i>
            <p class="headingM"><span style="color:var(--text-brand-blue)">Card Title</span></p>
            <p class="bodyM">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
        </div>
           
        <script src="../components.js" async defer></script>

    </body>
    
</html>