<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Our Styling -->
        <link rel="stylesheet" href="../../styles/styles.css">

        <!-- Phosphor Icons -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/duotone/style.css"/>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <!-- STAFF CARD ---------------------------------------------------------- -->
        <div class="staffCard">
            <div class="thumbnail_cover">
                <img src="../images/image-placeholder.png" class="thumbnail_picture" alt="" />
            </div>

            <div class="cardContent">
                <span style="color:var(--text-label)"><p class="labelS">Title</p></span>
                <p class="headingS">Name</p>
                <p class="bodyS">Description</p>
            </div>
        </div>

        <script src="../components.js" async defer></script>

    </body>
    
</html>