#dotParse("/inprs-sandbox/files/_includes.vtl")

#renderDarkPageHeader(
"Home > About Us > Careers",
"INPRS Careers",
"People are the foundation of our success. It takes people with different backgrounds, ideas, and strengths to be successful. ",
"/dA/b84d08f171/asset/NewsTriangleHeader.png"
)
