.text-box {
    max-width: 780px;
}


/* Size L */
/* @media (min-width: 64em) {
    .textbox {
        max-width: 780px;
    }
} */

/* Size M */
@media (min-width: 48em) {
    .text-box {
        max-width: 650px;
    }
}

/* Size S */
@media (min-width: 24.5em) {
    .text-box {
        max-width: 520px;
    }
}

.section-info {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin: auto;
}

.section-info .button-brand {
    align-self: flex-start;
}

.section-title {
    color: var(--text-brand-blue);
    padding-bottom: 24px;
}

/* BULLET POINTS -------------------------------------------------------------- */
.phosphor-check-list {
    list-style: none;
    padding-left: 0;
    padding-top: 8px;
}

.phosphor-check-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.sub-check-list {
    list-style: none;
    padding-left: 0;
    padding-top: 8px;
}

.sub-check-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.phosphor-check-list li i {
    margin-right: 8px;
    margin-top: 2px;
    font-size: 18px;
    flex-shrink: 0;
}

.ol-check-list {
    list-style: none;
    padding-left: 0;
    padding-top: 8px;
    counter-reset: main-counter;
}

.ol-check-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    counter-increment: main-counter;
}

.ol-check-list li .number {
    margin-right: 12px;
    margin-top: 3px;
}

.ol-check-list li div {
    flex: 1;
}