/* TABLE ------------------------------------- */
.table {
    width: 100%;
    border: 1px solid var(--border-subtle);
    border-radius: .5rem;
    overflow: hidden;
}

.table-header {
    display: flex;
    background-color: var(--bg-brand-blue);
    padding: .75rem 1rem;
}

.table-header .labelM {
    color: var(--text-inverse);
}

.table-row {
    display: flex;
    padding: .75rem 1rem;
    border-top: 1px solid var(--border-subtle);
}

.table-row:nth-child(even) {
    background-color: var(--bg-subtle);
}

.table-cell {
    flex: 1;
} 
