/* TABLE ------------------------------------- */
table {
    margin: auto;
    padding-top: 32px;
    width: 680px !important;
    border-radius: 16px;
}

th {
    padding: 16px !important;
    background-color: var(--bg-brand-blue);
    color: var(--text-inverse);
    text-align: left;
}

td {
    padding: 16px !important;
    align-items: left;
    background-color: var(--bg-subtle);
}
