<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Our Styling -->
        <link rel="stylesheet" href="../../styles/styles.css">

        <!-- Phosphor Icons -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/duotone/style.css"/>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <ul class="phosphor-check-list">
            <li><i class="ph-fill ph-dot-outline"></i>
                <div>
                    <p class="bodyM">
                    Self Service
                    </p>
                    <ul class="phosphor-check-list" style="wrap:nowrap;">
                        <li><i class="ph-fill ph-dot-outline"></i>You can complete your application at <a href="./?a=623299" target="_blank">www.myinprsretirement.org</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li><i class="ph-fill ph-dot-outline"></i>
                <div>
                    <p class="bodyM">
                    Call Center
                    </p>
                    <ul class="phosphor-check-list">
                        <li><i class="ph-fill ph-dot-outline"></i>A member advocate assists member in completing their application. You can go to 844-GO-INPRS (844-464-6777)
                        </li>
                    </ul>
                </div>
            </li>
            
            <li><i class="ph-fill ph-dot-outline"></i>
                <div>
                    <p class="bodyM">
                    1:1 Session
                    </p>
                </div>
            </li>
        </ul>
        
    </body>
</html>
