<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Our Styling -->
        <link rel="stylesheet" href="../../styles/styles.css">

        <!-- Phosphor Icons -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

    <body>
        
        <div class="faq-container row">
            <p class="headingM">Frequently Asked Questions</p>

            <div class="faq-menu">

                <div class="faq-item">
                    <div class="faq-question grid-x">
                    <div class="cell medium-6 large-10">
                        <p class="labelM">Question?</p>
                    </div>
                    <div class="cell medium-6 large-2">
                        <i class="ph ph-caret-down drop-down size24"></i>
                    </div>
                    </div>

                    <div class="faq-answer">
                    <p class="bodyM">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question grid-x">
                    <div class="cell medium-6 large-10">
                        <p class="labelM">Question?</p>
                    </div>
                    <div class="cell medium-6 large-2">
                        <i class="ph ph-caret-down drop-down size24"></i>
                    </div>
                    </div>

                    <div class="faq-answer">
                    <p class="bodyM">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../components.js" async defer></script>
        <script src="../../sidenavigation.js" async defer></script>

    </body>
    
</html>