## perfContentContainerTest.vtl
## Location: vtl/content/members/perf/perfContentContainerTest.vtl

#dotParse("/inprs-sandbox/files/_includes.vtl")

<div class="col-8">

    <div id="perf-overview" class="content-section">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfOverviewTest.vtl")
    </div>

    <div id="perf-emp-cycle-new" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfEmpCycleNew.vtl")
    </div>

    <div id="perf-emp-cycle-change" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfEmpCycleChange.vtl")
    </div>

    <div id="perf-life-info" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfLifeInfo.vtl")
    </div>

    <div id="perf-life-leave" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfLifeLeave.vtl")
    </div>

    <div id="perf-life-report" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfLifeReport.vtl")
    </div>

    <div id="perf-life-survivor" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfLifeSurvivor.vtl")
    </div>

    <div id="perf-transition-eligibility" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfTransitionEligibility.vtl")
    </div>

    <div id="perf-transition-process" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfTransitionProcess.vtl")
    </div>

    <div id="perf-transition-return" class="content-section hidden">
        #dotParse("/inprs-sandbox/files/content/members/perf/contentContainer/perfTransitionReturn.vtl")
    </div>

</div>